app/index.html
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="..|..">
    <meta name="format-detection" content="telephone=no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width, height=device-height">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="HandheldFriendly" content="true">
    <meta http-equiv="Expires" content="0">
    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache">
    <title>Easy Wrap</title>
    <!-- STYLE-->
    <link rel="stylesheet" href="./css/main.css">
  </head>
  <body>
    <!-- HEADER-->
    <header class="grid header">
      <div class="grid__wrap header__wrap">
        <div class="grid__row">
          <h1 class="header__brand"><a href="./">Easy Wrap</a></h1>
        </div>
      </div>
    </header>
    <!-- ./HEADER-->
    <!-- MAIN-->
    <main class="grid grid--main">
      <section class="grid__wrap widget-1001">
        <div class="grid__row">
          <article class="grid__cell grid__cell--sm-6">
            <div class="grid__box">
              <!-- title-->
              <h3><span class="text text--lg text--gray">Sessioni:</span></h3>
              <ul class="nav nav--block">
                <li class="nav__item"><a href="./web.html"><span class="icon icon--angle-right-xs"></span>
                    &nbsp;
                    Web Template</a></li>
                <li class="nav__item"><a href="./email.html"><span class="icon icon--angle-right-xs"></span>
                    &nbsp;
                    Email Template</a></li>
              </ul>
            </div>
          </article>
        </div>
      </section>
    </main>
    <!-- ./MAIN-->
    <!-- FOOTER-->
    <footer class="grid footer">
      <section class="grid__wrap">
        <div class="grid__row">
          <article class="grid__cell">
            <div class="grid__box">
              <p class="text text--inherit text--xs text--center">Copyright © 2016 Easy Wrap By L.Mario</p>
            </div>
          </article>
        </div>
      </section>
    </footer>
    <!-- ./FOOTER-->
    <!-- SCRIPTS		-->
    <script src="./js/main-0.0.1.js"></script>
    <!-- ./SCRIPTS-->
  </body>
</html>

src/pug/templates/index.pug
include ../variables/vars.pug

doctype html
html(lang="en")
	
	include ../layout/head.pug

	body

		// HEADER
		include ../layout/header.pug
		// ./HEADER

		// MAIN
		main.grid.grid--main
			
			section.grid__wrap.widget-1001

				div.grid__row
					
					article.grid__cell.grid__cell--sm-6
			
						div.grid__box
							// title
							h3
								span.text.text--lg.text--gray
									| Sessioni:

							ul.nav.nav--block
								li.nav__item
									a(href=$base_url+"web.html")
										span.icon.icon--angle-right-xs
										| &nbsp;
										| Web Template

								li.nav__item
									a(href=$base_url+"email.html")
										span.icon.icon--angle-right-xs
										| &nbsp;
										| Email Template


		// ./MAIN
		
		// FOOTER
		include ../layout/footer.pug
		// ./FOOTER

		// SCRIPTS		
		include ../layout/scripts.pug
		// ./SCRIPTS
